<!DOCTYPE html>
<html>
  <head>
    <title>Imdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

    <% if current_user %>
    <script>window.currentUser = {
    "id": <%=current_user.id%>
    }</script>
    <%end%>
    <script>
    window.logo = "<%=image_url("imdblogo.png")%>"
    </script>
    <script>
    window.movieAd = "<%=image_url("movieAd.png")%>"
    </script>
    <script>
    window.movieAd2 = "<%=image_url("movieAd2.png")%>"
    </script>

  <body>
    <%=yield%>
  </body>
</html>
